@font-face {
    font-family: 'Norse';
    src: url('fonts/transfonter.org-20260109-104918/Norse-Bold.woff2') format('woff2'),
        url('fonts/transfonter.org-20260109-104918/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    padding: 0;
    margin: 0;

}

body,
div.row {
    display: flex;
}

div.row {
    gap: 50px;
    width: 100%;

}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 65%;
    background-color: rgba(240, 240, 240, 0.902);
}

.side-image {
    width: 35%;
    height: 100vh;
    background-image: url("assets/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}


.card {
    box-shadow: 0px 2px 6px rgba(128, 128, 128, 0.382);
    padding: 10px 300px 40px 50px; 
    margin-bottom: 30px; 
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.bottom-text {
    padding: 0px 100px 0px 50px;
}

.head-text {
    padding: 0px 100px 0px 50px;
    width: 80%;
    font-size: 25px;
    font-weight: 570;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    margin-bottom: 30px;
    padding: 12px 40px 12px 40px;
    border-radius: 7px;
    border: none;
    background-color: #596D48;
    color: white;
    font-size: 14px;
    font-weight: 570;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.334);
}

.logo {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.476);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    position: absolute;
    top: 30%;
    height: 130px;
    font-family: Norse, sans-serif;
}

.italic {
    font-style: oblique;
}

input {
    width: 100%;
    border-color: rgba(0, 0, 0, 0.073);
    border-radius: 6px;
    height: 25px;
    box-shadow: none;
    font-size: 18x;
    font-weight: 300;
    padding-left: 10px;
}

label {
    font-size: 11px;
    font-weight: 550;
    letter-spacing: 2px;
    width: 50%
}

a {
    color: rgb(8, 104, 8)
}

.log-in {
    font-weight: 500;
}

input[type="password"]:invalid {
    border: 1px solid rgb(213, 4, 4);
}

input:not([type="password"]):focus {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.308);
    margin:0px;
    border: none;
    outline: 1px solid blue;
}

input[type="password"]:invalid:focus {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.308);
    margin:0px;
    border: none;
    outline: 1px solid rgb(213, 4, 4);
}

button:hover {
    background-color: #4d5d3e;
}

.caption {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10px;
    color: white;
    font-size: 11px;
    font-weight: 300;
}

img {
    height: 110px;
}